@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playwrite+PT:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    /**/
}

:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-1000: #191924;
    --text-black-700: #504e70;
    --skin-color: #e08888;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{

    line-height: 1.50;
    font-size: 16px;
     font-family: "Poppins", sans-serif;

}

::before, ::after{
    box-sizing: border-box;
}

.main-aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}
.main-aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    font-family: "Playwrite PT", sans-serif;
    
}
.main-aside .logo a{
    letter-spacing: 1px;

    font-weight:700;
    padding: 15px 20px;
    font-size: 4rem;
    background: var(--bg-black-50);
    border-radius: 50%;
    width: 50%;
    height: 50%;
    color: #8079eb;
    transition: all 0.5s ease-in-out;
}

.main-aside .logo a:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 15px 15px var(--skin-color);
}

.main-aside .logo a span{
    color: var(--text-black-700);
}

aside .nav-toggle{
    height:40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

aside .nav-toggle span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;

}

aside .nav-toggle span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

aside .nav-toggle span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.subtile{
    position: absolute;
    font-size: .5rem;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%);
    border-bottom: #302e4d 0.5px solid;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtile ::after{
    position: absolute;
    background: var(--text-black-900);
    height: 2px;
}
.home{
    background:var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    padding: 0 30px;
}

.page{
    background:var(--bg-black-900);
    min-height: 100vh;

    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    padding: 0 30px;
}
.hidden{
    display: none !important;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0 -15px;
    position: relative;
    width: 100%;
}
.padding-15{
    padding: 0 15px;
}
aside .nav{
    margin-top: 50px;
}

aside .nav li{
    margin-bottom: 20px;
    display: block;
}

aside .nav li a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: var(--bg-black-50) 1px solid;
}

aside .nav li a.active{
    color: var(--skin-color);
}

aside .nav li a i{

    margin-right:.9rem ;

}

.container{
    max-width: 1100px;
    display: flex;
}
.home{
    min-height: 100vh;
    background-color: var(--text-black-900);
    display: flex;

    color: var(--bg-black-50);
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.home .home-image{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-image img{
    border-radius: 80px;
    background: transparent;
    border: #302e4d solid 1px solid;
    box-shadow: 10px 8px 10px 10px var(--text-black-1000) ;
    height: 400px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.home-image img:hover{
    box-shadow: 0px 0px 10px 10px var(--skin-color);
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Playwrite PT', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--skin-color);
}

.typing{
    color: var(--skin-color);
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--bg-black-50);
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color: var(--skin-color);
    white-space: nowrap ;
    border-radius: 40px;
    color: white;
    display: inline-block;

    transition: all 0.2s ease-in-out;
}

.btn:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 3px 3px var(--skin-color);
}


/* About me*/

.page .container{
    padding-top: 60px;
    padding-bottom: 70px;
}